@import "~bootstrap/scss/bootstrap";

main {
    width: 100%;
    padding: 20px 20px;
    background-color: #252131;
    

    .row {
        background-color:#3A5A81;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .card {
            border-color: #D31336;

            .card-body {
                height: 200px;
                overflow: hidden;
                text-align: center;
                background-color:#252131;
           
    
                h5 {
                    color:#D31336
                }
    
                span {
                    color: #3A5A81;
                }
    
                p {
                    color: #3A5A81;
                }
             }
            
        }
   
       
    }
}
